/* Celular*/
@media (max-width: 480px) {
  .containerJA {
    width: 96%;
    }
  }
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .containerJA {
    width: 96%;
    h1{
      font-size: 130%;
    }
    h2{
      font-size: 120;
    }
    h3{
      font-size: 110%;
    }
    h4{
      font-size: 100%;
    }
    h5{
      font-size: 90%;
    }
    p{
      font-size: 160%;
    }
    p1{
      font-size: 160%;
    }
    p2{
      font-size: 160%;
    }
  }
}
/* Desktop */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .containerJA {
    width: 97%;
    h1{
      font-size: 250%;
    }
    h2{
      font-size: 200%;
    }
    h3{
      font-size: 200%;
    }
    h4{
      font-size: 180%;
    }
    p{
      font-size: 180%;
    }
    p1{
      font-size: 180%;
    }
  }
}

/* Estilos para o BODY */
body.JA {
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(16, 18, 56);
  justify-content: center;
  width: 98%;
  
}

/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  background-color: blueviolet;
  padding-right: 2%;
  overflow: auto;
  width: 100%;
}
.logo {
  color: white;
  font-style: italic;
  padding-left: 3%;
  padding-right: 3%;
  background-color: green;
}
.menu {
  list-style: none;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
}
.menu li { 
padding-left: 2%;
padding-right: 2%;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 100%;
  color: white;
}
h2{
  font-size: 95%;
}
h3{
  font-size: 90%;
  color: aqua;
  text-align: center;
}
h4{
  font-size: 85%;
  color: blueviolet;
  text-align: center;
}
h5{
  font-size: 80%;
  color: whitesmoke;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
}

/* Estilos para IMAGENS */
.JA {
  background-image: url('   ');
  .JA {
  width: 48%;
  height: 48%;
  padding-left: 26%;
  }
}


/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 112%;
  color: gold;
  width: 100%;
}
p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 112%;
  color: greenyellow;
  width: 100%;
}

/* Estilos para COLUNAS */
/* grid 100%*/
.linha {
  width: 100%;
  margin: auto;
  overflow: auto;
  padding: 0% 0;
}
.colunaJA {

  float: left;
  color: white;
}
.colJA1 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 58%;
  width: 50%;
  text-align: left;
  color: white;
  padding-left: 0%;
}
.colJA2 {
/* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 58%;
  width: 50%;
  text-align: left;
  color: white;
  padding-right: 0%;
}

.colJA3 {
/* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 96%;
  color: silver;
  width: 100%;
  text-indent: 1%;
}

.colJA4 {
/* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 98%;
  color: silver;
  width: 100%;
  text-indent: 0%;
}

/* Estilos para BOTÕES */
.btn-estilizado {
  background-color: rgb(247, 247, 102); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: red; /* Cor do texto */
  padding: 1% 1%; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 150%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%;
}
.btn-estilizado2 {
  background-color: rgb(81, 219, 81); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: green; /* Cor do texto */
  padding: 1% 1%; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 150%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%;
}
.btn-estilizado3 {
  background-color: rgb(90, 90, 245); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: yellow; /* Cor do texto */
  padding: 1% 1%; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 150%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%;
}

/* Estilos para RODAPÉ */
footer {
  display:block;
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 80%;
  overflow: auto;
  width: 100%;
} 