
/* Estilos para o BODY */
body.ser {
  background-color: silver;
}

/* Estilos para o menu de navegação */
.navbar {
  background-color: blueviolet;
}
.logo {
  color: white;
  background-color: green;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: white;
}
h3{
  color: green;
  text-align: center;
}
h4{
  color: blueviolet;
  text-align: center;
}
h5{
  color: whitesmoke;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
}

/* Estilos para COLUNAS img */
/* grid 100%*/
.linha {
  width: 100%;
  overflow: auto

}/* Para Android e iOS */
.colunaimgser {
  float: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 200%;
  overflow: auto;
}
.ser {
  background-image: url('   ');
  .logoSFV {
  padding-left: 0%;
  padding-right: 2px;
  width: 28%;
  height: 28%;
  float:inline-start;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logodivulg {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float:left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logopagamentos {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoaçai {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}

/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoescolatec {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logobarbearia {
  padding-left: 0%;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logocaveira {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoauxiliar {
  padding-left: 0px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .kit-aux-banheiroporta {
  padding-left: 2px;
  padding-right: 2px;
  width: 32%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .kit-aux-banheirosanitario {
  padding-left: 2px;
  padding-right: 2px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-aux-silencio {
  padding-left: 2px;
  padding-right: 2px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-adv-Cond {
  padding-left: 1px;
  padding-right: 1px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-adv-NF {
  padding-left: 1px;
  padding-right: 1px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-adv-piso {
  padding-left: 1px;
  padding-right: 1px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-reg-estacionar {
  padding-left: 1px;
  padding-right: 1px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-reg-NF {
  padding-left: 1px;
  padding-right: 1px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kit-reg-perturbação {
  padding-left: 1px;
  padding-right: 1px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .logoregulamentacao {
  padding-left: 1px;
  padding-right: 1px;
  width: 17%;
  float: left;
  }
}

/* Estilos para PARAGRAFOS */
p{
  color: blue;
}
p1{
  color: green;
}
p2{
  color: yellow;
}

/* Estilos para COLUNAS SERIGRAFIA*/
.colser1 {
  float: left;
  color: green;
}

