/* Celular*/
@media (max-width: 480px) {
  .containerser {
    width: 96%;
    }
  }
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .containerser {
    width: 96%;
  }
}
/* Desktop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .containerser {
    width: 97%;
  }
}

/* Estilos para o BODY */
body.ser {
  background-color: silver;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 98%;
}

/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  background-color: blueviolet;
  padding-right: 2%;
  overflow: auto;
  width: 100%;
}
.logo {
  color: white;
  font-style: italic;
  padding-left: 3%;
  padding-right: 3%;
  background-color: green;
}
.menu {
  list-style: none;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
}
.menu li { 
padding-left: 2%;
padding-right: 2%;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 100%;
  color: white;
}
h2{
  font-size: 95%;
}
h3{
  font-size: 90%;
  color: aqua;
  text-align: center;
}
h4{
  font-size: 85%;
  color: blueviolet;
  text-align: center;
}
h5{
  font-size: 80%;
  color: whitesmoke;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
}

/* Estilos para COLUNAS img */
/* grid 100%*/
.linha {
  width: 100%;
  overflow: auto

}/* Para Android e iOS */
.colunaimgser {
  float: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 200%;
  overflow: auto;
}
.ser {
  background-image: url('   ');
  .logoSFV {
  padding-left: 0%;
  padding-right: 2px;
  width: 28%;
  height: 28%;
  float:inline-start;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logodivulg {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float:left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logopagamentos {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoaçai {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}

/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoescolatec {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logobarbearia {
  padding-left: 0%;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logocaveira {
  padding-left: 2px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoauxiliar {
  padding-left: 0px;
  padding-right: 2px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .kitbanheiroporta {
  padding-left: 2px;
  padding-right: 2px;
  width: 32%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .kitbanheirosanitario {
  padding-left: 2px;
  padding-right: 2px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kitsilencio {
  padding-left: 2px;
  padding-right: 2px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .logoadvertencia {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .logoregulamentacao {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}


/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 112%;
  color: blue;
  width: 100%;
}
p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 112%;
  color: green;
  width: 100%;
}
p2{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 2%;
  padding-right: 2%;
  text-indent: 10%;
  font-size: 112%;
  color: yellow;
  width: 100%;
}


/* Estilos para COLUNAS lista*/
/* grid 100%*/
.linha {
  width: 100%;
}
.colunaser {
  float: left;
  color: black;
}
.colser1 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-indent: 1%;
  padding-left: 0%;
  font-size: 86%;
  width: 96%;
  text-align: left;
}


/* Estilos para BOTÃO */
.btn-estilizado1 {
  background-color: yellow; /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: brown; /* Cor do texto */
  padding: 1% 1%; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 150%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%;
}
.btn-estilizado2 {
  background-color: rgb(100, 209, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: green; /* Cor do texto */
  padding: 1% 1%; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 150%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%;
}
/* Estilos para BOTÃO */
.btn-estilizado {
  background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: rgb(50, 50, 186); /* Cor do texto */
  padding: 1% 1%; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 150%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 100%;
}

/* Estilos para RODAPÉ */
footer {
  display:block;
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 80%;
  overflow: auto;
  width: 100%;
} 