/* Para telas pequenas (celulares, menos de 300px) */
@media only screen and (max-width: 300px) {
  .containerser {
    width: 530%;
    padding: 10px;
  }
}
/*Para telas pequenas (301px a 350px)*/
@media only screen and (min-width: 301px) and (max-width: 350px) {
  .containerser {
    width: 420%;
    padding: 10px;
  }
}
/* Para telas pequenas(Galaxy S9 /Galaxy Z Fold 5 320px a 658px) */
@media only screen and (min-width: 320px) and (max-width: 658px) {
  .containerser {
    width: 390%;
    padding: 10px;
  }
}
/* Para telas pequenas(Galaxy note !! 360px a 640px) */
@media only screen and (min-width: 360px) and (max-width: 640px) {
  .containerser {
    width: 370%;
    padding: 10px;
  }
}
/* Para telas pequenas (iPhone 12 Pro, S7, A9 PRO, J5 390px a 844px) */
@media only screen and (min-width: 390px) and (max-width: 844px) {
  .containerser {
    width: 396%;
    padding: 10px;
  }
}
/* Para telas pequenas (LG Optimus L70, 384px a 640px) */
@media only screen and (min-width: 384px) and (max-width: 640px) {
  .containerser {
    width: 340%;
    padding: 10px;
  }
}
/* Para telas pequenas (iPhone SE, 375px a 667px) */
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .containerser {
    width: 340%;
    padding: 10px;
  }
}
/*Para telas pequenas (Galaxy A51/71 /iPhone 6/7/8 Plus 401px a 450px)*/
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .containerser {
    width: 320%;
    padding: 10px;
  }
}
/* Para telas pequenas () */
@media only screen and (min-width: 451px) and (max-width: 500px) {
  .containerser {
    width: 310%;
    padding: 10px;
  }
}
/* Para telas pequenas (Nokia N9 480px a 854px) */
@media only screen and (min-width: 480px) and (max-width: 854px) {
  .containerser {
    width: 270%;
    padding: 10px;
  }
}

/* Para telas médias (501px a 550px) */
@media only screen and (min-width: 501px) and (max-width: 550px) {
  .containerser {
    width: 240%;
    padding: 20px;
  }
}
/* Para telas médias (501px a 640px) */
@media only screen and (min-width: 551px) and (max-width: 640px) {
  .containerser {
    width: 240%;
    padding: 20px;
  }
}
/* Para telas médias(Tablets, 600px a 1024px) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .containerser {
    width: 210%;
    padding: 20px;
  }
}
/* Para telas médias (tablets, 641px a 1024px) */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .containerser {
    width: 290%;
    padding: 20px;
  }
}

/* Para telas médias (Galaxi Tab S4 712px a 1138px) */
@media only screen and (min-width: 712px) and (max-width: 1138px) {
  .containerser {
    width: 180%;
    padding: 20px;
  }
}

/* Para telas grandes (iPad Mini 768px a 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .containerser {
    width: 170%;
    padding: 30px;
  }
}

/* Para telas grandes (iPad Air 820px a 1180px) */
@media only screen and (min-width: 820px) and (max-width: 1180px) {
  .containerser {
    width: 160%;
    padding: 30px;
  }
}

/* Para telas grandes (desktops, 1025px a 1200px) */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .containerser {
    width: 130%;
    padding: 30px;
  }
}

/* Para telas extra grandes (desktops grandes, mais de 1200px) */
@media only screen and (min-width: 1200px) {
  .containerser {
    width: 94%;
    padding: 40px;
  }
}



/* Estilos para o BODY */
body.ser {
  background-color: silver;
}
/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  background-color: rgb(248, 44, 44);
  padding-right: 2%;
  overflow: auto;
}
.logo {
  color: white;
  font-style: italic;
  padding-left: 2%;
  padding-right: 0%;
  text-decoration: underline;
}
.menu {
  list-style: none;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}
.menu li { 
padding-left: 2%;
padding-right: 2%;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 310%;
}
h2{
  font-size: 300%;
}
h3{
  padding-left: 1%;
  text-indent: 10%;
  font-size: 290%;
  color: black;
}


/* Estilos para COLUNAS img */
/* grid 100%*/
.linha {
  width: 200%;
  overflow: auto

}
.colunaimgser {
  float: left;
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 200%;
  overflow: auto;
}
.ser {
  background-image: url('   ');
  .logoSFV {
  padding-left: 0%;
  padding-right: 8px;
  width: 28%;
  height: 28%;
  float:inline-start;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logodivulg {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float:left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logopagamentos {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoaçai {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}

/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoescolatec {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logobarbearia {
  padding-left: 0%;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logocaveira {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .logoauxiliar {
  padding-left: 0px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .kitbanheiroporta {
  padding-left: 8px;
  padding-right: 8px;
  width: 32%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .kitbanheirosanitario {
  padding-left: 8px;
  padding-right: 8px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .kitsilencio {
  padding-left: 8px;
  padding-right: 8px;
  width: 32%;
  float: left;
  }
}
.ser {
  background-image: url('   ');
  .logoregulamentacao {
  padding-left: 8px;
  padding-right: 8px;
  width: 17%;
  height: 17%;
  float: left;
  }
}


/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 380%;
  color: black;
  width: 100%;
}
p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
  font-size: 380%;
  color: blue;
  width: 100%;
}
p2{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
  font-size: 380%;
  color: yellow;
  width: 100%;
}


/* Estilos para COLUNAS lista*/
/* grid 100%*/
.linha {
  width: 100%;
}
.colunaser {
  float: left;
  color: blue;
}
.colser1 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-indent: 1%;
  padding-left: 10%;
  font-size: 340%;
  width: 90%;
  text-align: left;
  color: blue;
}
.colser2 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-indent: 1%;
  padding-left: 11%;
  font-size: 340%;
  width: 90%;
  text-align: left;
}


/* Estilos para BOTÃO */
.btn-estilizado1 {
  background-color: yellow; /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: brown; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 700%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 95%;
}
.btn-estilizado2 {
  background-color: rgb(100, 209, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: green; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 700%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 95%;
}
/* Estilos para BOTÃO */
.btn-estilizado {
  background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: rgb(50, 50, 186); /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 700%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 95%;
}


/* Estilos para RODAPÉ */
footer {
  display:block;
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 280%;
  overflow: auto;
} 