/* Celular*/
@media (max-width: 480px) {
    body{
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 98%;
    }
    .navbar {
        display: flex;
        padding-right: 2%;
        overflow: auto;
        width: 100%;
    }
    .logo {
        font-style: italic;
        padding-left: 3%;
        padding-right: 3%;
    }
    .menu {
        list-style: none;
        margin: auto;
        padding-left: 1%;
        padding-right: 1%;
        display: flex;
    }
    .menu li { 
        padding-left: 2%;
        padding-right: 2%;
    }

    .font {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        font-size: 100%;
    }
    h2{
        font-size: 95%;
    }
    h3{
        font-size: 90%;
    }
    h4{
        font-size: 85%;
    }
    h5{
        font-size: 80%;
    }

    p{
    /* Para Android e iOS */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding-left: 1%;
        padding-right: 1%;
        text-align: justify;
        text-indent: 10%;
        font-size: 112%;
        width: 100%;
    }

    p1{
    /* Para Android e iOS */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding-left: 1%;
        padding-right: 1%;
        font-size: 112%;
        width: 100%;
    }

    p2{
    /* Para Android e iOS */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding-left: 1%;
        padding-right: 1%;
        text-indent: 10%;
        font-size: 112%;
        width: 100%;
    }

    /* Estilos para COLUNAS */
/* grid 100%*/
.linha {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0% 0%;
  }
  .colunaJA {
    float: left;
  }
  .colJA1 {
    /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 58%;
    width: 50%;
    text-align: left;
    padding-left: 0%;
  }
  .colJA2 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 58%;
    width: 50%;
    text-align: left;
    padding-right: 0%;
  }
  
  .colJA3 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 96%;
    width: 100%;
    text-indent: 1%;
  }
  
  .colJA4 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 98%;
    width: 100%;
    text-indent: 0%;
  }

  /* Estilos para BOTÕES */
.btn-estilizado {
    border: none; /* Sem bordas */
    padding: 1% 1%; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    font-size: 150%; /* Tamanho da fonte */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    width: 100%;
  }
  .btn-estilizado2 {
    border: none; /* Sem bordas */
    padding: 1% 1%; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    font-size: 150%; /* Tamanho da fonte */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    width: 100%;
  }
  .btn-estilizado3 {
    border: none; /* Sem bordas */
    padding: 1% 1%; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    font-size: 150%; /* Tamanho da fonte */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    width: 100%;
  }

/* Estilos para RODAPÉ */
footer {
    display:block;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 1%;
    font-size: 80%;
    overflow: auto;
    width: 100%;
}
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body{
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 98%;
    }
    .navbar {
        display: flex;
        padding-right: 2%;
        overflow: auto;
        width: 100%;
    }
    .logo {
        font-style: italic;
        padding-left: 3%;
        padding-right: 3%;
    }
    .menu {
        list-style: none;
        margin: auto;
        padding-left: 1%;
        padding-right: 1%;
        display: flex;
    }
    .menu li { 
        padding-left: 2%;
        padding-right: 2%;
    }

    .font {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1{
        font-size: 160%;
    }
    h2{
        font-size: 140%;
    }
    h3{
        font-size: 120%;
    }
    h4{
        font-size: 100%;
    }
    h5{
        font-size: 80%;
    }

    p{
    /* Para Android e iOS */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding-left: 1%;
        padding-right: 1%;
        text-align: justify;
        text-indent: 10%;
        font-size: 140%;
        width: 100%;
    }

    p1{
    /* Para Android e iOS */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding-left: 1%;
        padding-right: 1%;
        font-size: 140%;
        width: 100%;
    }

    p2{
    /* Para Android e iOS */
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        padding-left: 1%;
        padding-right: 1%;
        text-indent: 10%;
        font-size: 140%;
        width: 100%;
    }

    /* Estilos para COLUNAS */
/* grid 100%*/
.linha {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 0% 0%;
  }
  .colunaJA {
    float: left;
  }
  .colJA1 {
    /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 74%;
    width: 50%;
    text-align: left;
    padding-left: 0%;
  }
  .colJA2 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 74%;
    width: 50%;
    text-align: left;
    padding-right: 0%;
  }
  
  .colJA3 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 108%;
    width: 100%;
    text-indent: 1%;
  }
  
  .colJA4 {
  /* Para Android e iOS */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 108%;
    width: 100%;
    text-indent: 0%;
  }

  /* Estilos para BOTÕES */
.btn-estilizado {
    border: none; /* Sem bordas */
    padding: 1% 1%; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    font-size: 150%; /* Tamanho da fonte */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    width: 100%;
  }
  .btn-estilizado2 {
    border: none; /* Sem bordas */
    padding: 1% 1%; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    font-size: 150%; /* Tamanho da fonte */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    width: 100%;
  }
  .btn-estilizado3 {
    border: none; /* Sem bordas */
    padding: 1% 1%; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Sem sublinhado */
    display: block; /* Posição do botão */
    font-size: 150%; /* Tamanho da fonte */
    margin: auto;
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    width: 100%;
  }

    /* Estilos para RODAPÉ */
    footer {
        display:block;
        background-color: blue;
        text-align: center;
        color: white;
        padding: 1%;
        font-size: 80%;
        overflow: auto;
        width: 100%;
    }
}

    